
/* Retrieved from robertlantus/menus/ */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  /* border: 2px solid plum; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  padding: 0 2rem;
  /* background-color: #ccc; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 1rem;

  /* border-bottom: 1px solid lightgray; */
  box-shadow: 0 0 5px 0 lightgray;
}

.logo {
  letter-spacing: 2px;
}

.nav-links {
  /* border: 2px solid orange; */
  position: absolute;
  right: 0;
  top: 11vh;
  height: 41vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  /* width: 100%; */

  display: none;

  text-transform: uppercase;
  padding-top: 1rem;
}

.nav-links li {
  /* border: 2px solid lightblue; */
  flex: 1;
  list-style: none;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 1.5rem 2rem;
  /* text-align: center; */
}

.nav-links li {
  opacity: 0;
}

@keyframes navLinkFade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.nav-links a {
  color: #1f2937;
  /* color: #e5e7eb; */
  text-decoration: none;
  /* letter-spacing: 2px; */
  /* font-weight: 600; */
  font-size: 0.75rem;
}

.nav-active {
  /* transform: translateX(0%); */
  display: block;
  transition: transform 0.5s ease-in;

  z-index: 100;
  background-color: white;

  /* display: flex; */
  /* align-items: flex-start; */
}

.opacity {
  filter: blur(1px);
}

/* TEROX Travel Hamburger */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 1rem;
}

.one, .two {
  height: 1px;
  background-color: black;
  margin: 7px auto;
  border-radius: 3px;
  transition: all 1s;
}

.change .one {
  animation: slideInOne 0.5s ease-in-out 0.5s forwards, rotateLineOne 0.5s ease-in-out 1s forwards;
}

.change .two {
  animation: slideInTwo 0.5s ease-in-out 0.5s forwards, rotateLineTwo 0.5s ease-in-out 1s forwards;
}

@keyframes slideInOne {
  from { translate: 0px 0px; }
  to { translate: 0px 4px; }
}

@keyframes rotateLineOne {
  from { rotate: 0deg; }
  to { rotate: 45deg; }
}

@keyframes slideInTwo {
  from { translate: 0px 0px; }
  to { translate: 0px -4px; }   
}

@keyframes rotateLineTwo {
  from { rotate: 0deg; }
  to { rotate: -45deg; }
}

main {
  /* border: 2px solid black; */
  padding: 1rem;
}

.lorem {
  padding: 1rem;
}


/* @media screen and (orientation: landscape)  */
@media screen and (min-width: 640px) {
  
  .nav-links {
      width: 55%;
  }

  .nav-links li {
      margin: 1rem;
  }
}


@media screen and (min-width: 768px) {

  .hamburger {
      display: none;
  }

  /* First */

  /* .nav-links {
      height: 10vh;
      transform: translateX(100%);
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: row;
      justify-content: center;
  } */

  /* Second */

  /* .nav-links {
      height: 10vh;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(100%);
  } */

  /* Third */

  /* .nav-links {
      height: 10vh;
      flex-direction: row;
      justify-content: center;
      position: static;
      transform: translateX(0%);
      transition: none;
  } */

  /* Fourth and final */

  .nav-links {
      height: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: absolute;
      top: 0;
      /* transform: translateX(0%); */
      transition: none;
  } 

  .nav-links li {
      /* border: 2px solid lightblue; */
      opacity: 1;
      margin: 1rem;
  }

  .opacity {
      filter: blur(0);
  }

}